/build/
/buildgen/
/out/
/src/gen
/dist
/__MACOSX
/bootstrap
/classes
/docs
/jboss
/log
/logs
/modules
/licensegen.jar
/licenseprogramcodegen.jar
/temp
/velocity.log
/dbdiffer-sybase.sql
/dbdiffer-debug-*
/.settings
/.project
/.classpath
/licenses
.#
/.gradle
*.iml
*.iws
*.ipr
/*.log
/bin
gradle.properties
/.idea